---
name: Deploy

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions: {}

jobs:
  ci:
    permissions:
      actions: read
      contents: read
      packages: read
      security-events: write
    uses: hassio-addons/workflows/.github/workflows/app-ci.yaml@3d5603e6f0966551a0c99493171cc2808349b28e # v2.0.4

  deploy:
    needs: ci
    permissions:
      contents: read
      packages: write
    uses: hassio-addons/workflows/.github/workflows/app-deploy.yaml@3d5603e6f0966551a0c99493171cc2808349b28e # v2.0.4
    secrets:
      DISPATCH_TOKEN: ${{ secrets.DISPATCH_TOKEN }}
